<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head class="head">
    <meta charset="UTF-8">
</head>
<body>
    <header class="header" th:fragment="layout-header">
        <div class = logo>
            <h1>spring</h1>
        </div>
        <!-- <div class="search">
            <input type="text" name="search" id="searchbox">
            <input type="button" value="検索">
        </div> -->
        <div class="navi">
            <li><a href="/blogs">ホーム</a></li>
            <li><a href="">プロフィール</a></li>
            <li><a href="/post">投稿</a></li>
        </div>
    </header>
</body>
    