<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <header class="header">
        <h1>spring</h1>
        <div class="search">
            <input type="text" name="search" id="searchbox">
            <input type="button" value="send">
        </div>
        <div class="post">
            <a href="/post">投稿</a>
        </div>
    </header>

    <!-- 投稿ページ -->
    <form action="/post">
        <input type="text" name="title" id="title">
        <input type="text" name="text" id="text">
        <button type="submit">投稿</button>
    </form>
</body>
</html>